---
# Description: Environment variables for the application

github_org_name: Zonos
# GitHub access token (required for accessing private repositories)
github_access_token: your-access-token-here
# GitHub username
github_username: your-username-here
# Destination folder where the cloned repositories will be downloaded
dest_folder: path-to-your-destination-folder-here
# Branch name to be created in each repository
branch: devops/ansible-placeholder
# Commit message for the changes
github_commit_msg: your-commit-message-here
